SEGURIA_GATEWAY_ID=__SEGURIA_GATEWAY_ID__
SEGURIA_GATEWAY_SECRET=__SEGURIA_GATEWAY_SECRET__
SEGURIA_API_BASE_URL=https://www.seguria.tech
SEGURIA_PROPERTY_ID=

HOME_ASSISTANT_URL=__HOME_ASSISTANT_URL__
HOME_ASSISTANT_TOKEN=__HOME_ASSISTANT_TOKEN__

MQTT_URL=mqtt://mqtt:1883
MQTT_USERNAME=seguria
MQTT_PASSWORD=__MQTT_PASSWORD__
CLOUDFLARE_TUNNEL_TOKEN=__CLOUDFLARE_TUNNEL_TOKEN__

HEARTBEAT_INTERVAL_SECONDS=60
SYNC_INTERVAL_SECONDS=30
EVENT_BUFFER_FILE=./data/events.json
OPERATION_QUEUE_FILE=./data/operations.json
